.body-contents {
    width: 100%;
    padding: 0 5%;
    position: absolute;
    bottom: 0;
    display: contents;
    justify-content: center;
    align-items: center;
}

.body-contents__banner {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.body-contents__banner img {
    width: 800px;
    height: 300px;
    position: fixed; 
    top: 140px; 		  
    object-fit: cover;
}

.body-contents__banner svg {
    z-index: 1;
    position: absolute;
    top: 250px;
}

.body-contents__banner svg:first-child {
    right: 80%;
}

.body-contents__banner svg:nth-child(3) {
    left: 80%;
}

.body-contents__list {
    padding: 200px 5% 0 5%;
    width: 100%;
    display: flex;
    box-sizing: border-box;    
}

.body-contents__list div {
    width: 50%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}