.head-top {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    background-color: #fbf9ed;
}

.head-top__main {
    display: flex;
}

.head-top__main-title {
    width: 10%;
    height: 60px;
    color: black;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.head-top__main-title img{
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    position: fixed;
    top: 0px;
}

.head-top__main-title span {
    position: fixed;
    top: 80px;
    font-family : GoryeongStrawberry;
    font-style: normal;
    font-weight: normal;
}

.head-top__main-menu {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5% 20px 5%;
}

.main-menu__list {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.main-menu__list div {
    display: inline-block;
    position: relative;
}

.main-menu__list1,
.main-menu__list2,
.main-menu__list3,
.main-menu__list4,
.main-menu__list5 {
    width: 16%;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 6;
    display: flex;
    flex-direction: column; 
    position: relative;
}


.main-menu__list3 a>span,
.main-menu__list4 a>span,
.main-menu__list5 a>span {
    position: relative;
    top: 50px;
}

.main-menu__list3:hover .list-dropdown,
.main-menu__list4:hover .list-dropdown,
.main-menu__list5:hover .list-dropdown {
    opacity: 1;
    top: 94px;
    left: 50%;
    transform: translateX(-50%);
}

.main-menu__list3:hover .list-dropdown p,
.main-menu__list4:hover .list-dropdown p,
.main-menu__list5:hover .list-dropdown p {
    visibility : visible;
}

.list-dropdown {
    width: 100%;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fae6df;
    opacity: 0;
    font-size: 0.9rem;
    white-space : nowrap;
}

.list-dropdown p {
    padding: 10px 0;
    visibility: hidden;
    text-align: center;
}

.main-menu__list-min {
    width: 0;
    opacity: 0;
    display: flex;
    justify-content: right;
    background-color: #fbf9ed;
    visibility : hidden;
}

.head-top__login {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    white-space : nowrap;
    padding: 5px;
}

/* .head-top__login a {
    margin-right: 10px;
} */

.head-top__login div {
    font-size: 0.7rem;
    margin-right: 10px;
}





