.main-menu__side-bar {
    width: 80%;
    height: 1280px;
    background-color: aqua;
    z-index: 9;
    position: fixed;
    right: -80%;
    /* top: 300px; */
    /* visibility: hidden; */
}

.open_menu-ani {
    animation: open_menu 2s forwards;
}

@keyframes open_menu {
    0%{right: -80%;}
    100%{right: 0;}
}

.close_menu-ani {
    animation: close_menu 2s forwards;
}

@keyframes close_menu {
    0%{right: 0;}
    100%{right: -80%;}
}
