@media screen and (max-width:700px) {
    .body-contents__list {
        display: inline-block;
        padding-left: 15%;
    }

    .body-contents__list div {
        display: inline;
        padding: 200px;
    }

    .main-menu__list {
        width: 0;
        display: none;
    }

    .main-menu__list-min {
        width: 89%;
        opacity: 1;
        padding-right: 25px;
    }

    .body-contents__banner {
        width: 800px;
        height: 200px;
    }
    
    .body-contents__banner img {
        width: 800px;
        height: 200px;
    }
}
